/* title-css */
* {
  /* padding: 0;
  margin: 0; */
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, sans-serif;
}

.title {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-sizing: border-box;
  padding: 0px;

  margin: 0px;

  color: rgba(108, 50, 224, 0.8);
}
p {
  text-align: center;
}

h1 {
  letter-spacing: -1px;
  padding-top: 15px;
}
.isteLogo {
  height: 100px;
  padding-right: 10px;
}
.nithLogo {
  width: 100px;
}
.body-div {
  margin: 0 200px;
  border: 10px;
}

textarea {
  resize: none none;
}
.navbar-brand {
  font-size: large;
}
.formfield * {
  vertical-align: middle;
  margin-bottom: 20px;
}
.warning {
  padding-bottom: 20px;
  width: 472px;
  display: inline-block;
}
