#download{
  background-image: url('../images/nith1.jpeg');
  background-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 35%) 0%,
      rgb(0 0 0) 104%
    ),
    url("../images/nith1.jpeg");
}

#about{
  background-image: url('../images/nith1.jpeg');
  background-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 35%) 0%,
      rgb(0 0 0) 104%
    ),
    url("../images/nith1.jpeg");
    margin-top: 360px !important;
}

#head{
background-image: url("../images/nith1.jpeg");
    background-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 35%) 0%,
      rgb(0 0 0) 100%
    ),
    url("../images/nith1.jpeg");
}


nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 1s;
}

nav .navbar-nav  li a {
  color: white !important;
  position:relative;
  z-index: 1;
}

nav .navbar-nav li a:hover {
  color: black !important;
}

nav .navbar-nav  li a:after {
  display: block;
  position: absolute;
  border-radius: 40px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #00FFCA   ;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav .navbar-nav  li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}


