/* Responsiveness of the site */

@media screen and (max-width: 575px) {
  .isteLogo {
    width: 70px;
    height: auto;
  }
  .isteHeading {
    position: relative;
    margin-left: 60px;
  }

  .login-box {
    width: 286px;
  }
  .login-box .user-box input {
    width: 214px;
  }
}
@media screen and (min-width: x) {
}
