{% extends 'base.html' %}
{% load widget_tweaks %}
{% block container %}
    <div class="row d-xl-flex justify-content-xl-start" style="height: 456.984px; ">
        <div class="col-lg-8 mx-auto" style="height: 21px;">
            <h1 class="brand-heading" style=" font-size: 49px;height: 21px;">{{template.brand_heading|safe}}</h1>
            <p class="intro-text" style="height: 35.1875px;font-size: 17px;">{{template.intro_text|safe}}</p>
            <div>
{% endblock container %}
{% block form %}
{% for i in placeholder %}
    <div class="box" style="backdrop-filter: blur(2px); -webkit-backdrop-filter: blur(2px);" >
        <form autocomplete="off" action="{% url 'index' %}" enctype="multipart/form-data" method="post">
            <input autocomplete="false" name="hidden" type="text" style="display:none;">
            {% csrf_token %}
            <div class="inputBox">
                <!-- <input type="text" name="name" required=""> -->
                {{form.name}}
                <label for="">{{i.name_input|safe}}</label>
                {% if form.name.errors %}
                    <div class="help-block" style="margin-top:-27px; color: #ffe300;>{{ form.name.errors }}</div>
                {% endif %}
                </div>
                <div class=" inputBox">
                    {{form.email}}
                    {% if form.email.errors %}
                        <div class="help-block" style="margin-top:-27px; color: #ffe300;">{{ form.email.errors }}</div>
                    {% endif %}
                    <label for="">{{i.email_input|safe}}</label>
                        </div>
                        <div class="inputBox">
                            {{form.phone_number}}
                            <label for="">{{i.phone_number_input|safe}}</label>
                                {% if form.phone_number.errors %}
                                    <div class="help-block" style="margin-top:-27px; color: #ffe300;">{{ form.phone_number.errors }}</div>
                                {% endif %}
                                </div>
                                {{form.branch|attr:"class:branch"}}
                                    {% if form.branch.errors %}
                                        <div class="help-block" style="margin-top:-20px; margin-bottom: 10px; color: #ffe300;>{{ form.branch.errors }}</div>
                                    {% endif %}
                        <div class="inputBox">
                               {{form.skills}}
                           <label for="">Your Skills</label>
                              {% if form.skills.errors %}
                                  <div class="help-block" style="margin-top:-27px; color: #ffe300;>{{ form.skills.errors }}</div>
                              {% endif %}
                        </div>
                       <div class="inputBox">
                               {{form.strength}}
                           <label for="">Your Strengths</label>
                              {% if form.strength.errors %}
                                  <div class="help-block" style="margin-top:-27px; color: #ffe300;>{{ form.strength.errors }}</div>
                              {% endif %}
                         </div>
                       <div class="inputBox">
                               {{form.weakness}}
                           <label for="">Your Weaknesses</label>
                              {% if form.weakness.errors %}
                                  <div class="help-block" style="margin-top:-27px; color: #ffe300;>{{ form.weakness.errors }}</div>
                              {% endif %}
                        </div>
                        
                       <div class="inputBox">
                        <h5 style="margin: 1rem 0 0.8rem;">Why do you want to join ISTE?</h5>
                              <!-- <input type="text" name="name" required=""> -->
                               {{form.why_join_iste}}
                            
                           <label for="" style="color: transparent;">Why do you want to join ISTE?</label>
                              {% if form.why_join.iste.errors %}
                                  <div class="help-block" style="margin-top:-27px; color: #ffe300;>{{ form.why_join_iste.errors }}</div>
                              {% endif %}
                        </div>
                       <div class="inputBox">
                              <!-- <input type="text" name="name" required=""> -->
                              <h5 style="margin: 1rem 0 0.8rem;">Why should ISTE choose you?</h5>
                               {{form.expect_from_iste}}
                              {% if form.expect_from_iste.errors %}
                                  <div class="help-block" style="margin-top:-27px; color: #ffe300;>{{ form.expect_from_iste.errors }}</div>
                              {% endif %}
                        </div>


                        <br>
                        
                                    <div class=" form-group">
                                        {{form.resume|attr:"class:input-file"|attr:"id:file"}}

                                        <label for="file" class="btn btn-tertiary js-labelFile">
                                            <i class="icon fa fa-upload"></i>
                                            <span class="js-fileName">{{i.cv_upload_input|safe}}</span>
                                        </label>
                                        <p style="color:#D33434;">(Optional)</p>
                                        {% if form.resume.errors %}
                                            <div class="help-block" style="margin-top:0px; color: #ffe300;>{{ form.resume.errors }}</div>{% endif %}
                                        </div>
                                        <div class=" tacbox">
                                            {{form.terms_confirmed|attr:'required'}}
                                            <label for="checkbox"> I agree to these <a href="#" data-toggle="modal" data-target="#largeModal" style="color: #4dddfc;" >Terms and Conditions</a>.</label>
                                                {% if form.terms_confirmed.errors %}
                                                    <div class="help-block" style="margin-top:-9px; color: #ffe300;>{{ form.terms_confirmed.errors }}</div>
                                                {% endif %}

                                            </div>
                                    <input type="submit" name="" value="Submit">
                                </form>
        </div>


        {% endfor %} 
{% endblock %}
