{% extends 'base.html' %}
{% load widget_tweaks %}

{% block container %}
<div class="row d-xl-flex justify-content-xl-start" style="height: 456px;">
    <div class="col-lg-8 mx-auto" style="height: 21px;">
        <h1 class="brand-heading" style="font-size: 49px; height: 21px;">{{template.brand_heading|safe}}</h1>
        <div class="intro-text" style="height: auto; font-size: 17px;">{{template.intro_text|safe}}
        <div class="date-div"><span style="color: #00FFCA;">Date- </span>{{template.dates|safe}}</div>
        <div class="location-div"> <span style="color: #00FFCA;">Venue- </span>{{template.location|safe}}</div>
        </div>
    </div>
</div>
{% endblock container %}

{% block form %}
{% for i in placeholder %}
<div class="box" style="backdrop-filter: blur(2px); -webkit-backdrop-filter: blur(2px);">
<form autocomplete="off" action="{% url 'index' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
<div>
  <div>
      <div>
          <div class="row text-center justify-content-center px-3">
             <h3 class="mt-4 h3-reg">Registration</h3>
          </div>
          <div class="d-flex flex-md-row px-3 mt-4 flex-column-reverse">
              <div class="col-md-6">
                  <div class="card1">
                      <ul id="progressbar" class="text-center">
                          <li class="active step0"></li>
                          <li class="step0"></li>
                          <li class="step0"></li>
                          <li class="step0"></li>
                      </ul>
                      <div class="card-detail-custom">
                      <h6 class="mb-5">Personal Details</h6>
                      <h6 class="mb-5">Skills</h6>
                      <h6 class="mb-5">About ISTE?</h6>
                      <h6 class="mb-5">CV Upload</h6>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="card2-container">
                      <div class="card2 first-screen show ml-2">
                          <div class="row px-3 inputBox">
                              <div class="form-group mt-1 mb-1">
                                  {{form.name}}
                                  <label class="ml-3 form-control-placeholder" for="email">{{i.name_input|safe}}</label>
                                  {% if form.name.errors %}
                                      <div class="help-block" style="margin-top:-27px; color: #ffe300;">{{ form.name.errors }}</div>
                                  {% endif %}
                              </div>
                                <div class="form-group mt-1 mb-1"> {{form.email}} <label class="ml-3 form-control-placeholder" for="email">{{i.email_input|safe}}</label>
                                {% if form.email.errors %}
                                    <div class="help-block" style="margin-top:-27px; color: #ffe300;">{{ form.email.errors }}</div>
                                {% endif %}
                              </div>
                              <div class="row px-3 mt-4 inputBox">
                                <div class="form-group mt-1 mb-1">  {{form.phone_number}} <label class="ml-3 form-control-placeholder" for="email">{{i.phone_number_input|safe}}</label>
                                {% if form.phone_number.errors %}
                                    <div class="help-block" style="margin-top:-27px; color: #ffe300;">{{ form.phone_number.errors }}</div>
                                {% endif %}
                              </div>
                              <div class="row px-3 mt-4 inputBox">
                                <div class="form-group mt-1 mb-1">
                                {{form.branch|attr:"class:branch"}}
                                {% if form.branch.errors %}
                                    <div class="help-block" style="margin-top:-27px; color: #ffe300;">{{ form.branch.errors }}</div>
                                {% endif %}
                                </div>
                              </div>
                          </div>
                          <div class="next-button text-center mt-1" style="width: 100%;"> Next <span class="fa fa-arrow-right"></span> </div>
                          </div>
                      </div>
                      <div class="card2 ml-2">
                          <div class="row px-3 inputBox">
                              <div class="form-group mt-1 mb-1">
                                  {{form.skills}}
                                  <label class="ml-3 form-control-placeholder" for="pwd">Your Skills</label>
                                  {% if form.skills.errors %}
                                      <div class="help-block" style="margin-top:-27px; color: #ffe300;">{{ form.skills.errors }}</div>
                                  {% endif %} 
                              </div>
                              <div class="row px-3 mt-3 inputBox">
                                <div class="form-group mt-1 mb-1">
                                {{form.strength}} 
                                <label class="ml-3 form-control-placeholder" for="pwd">Your Strengths</label>
                                {% if form.strength.errors %}
                                    <div class="help-block" style="margin-top:-27px; color: #ffe300;">{{ form.strength.errors }}</div>
                                {% endif %} 
                              </div>
                                <div class="form-group mt-1 mb-1">
                                        {{form.weakness}}
                                        <label class="ml-3 form-control-placeholder" for="pwd">Your Weaknesses</label>
                                        {% if form.weakness.errors %}
                                          <div class="help-block" style="margin-top:-27px; color: #ffe300;">{{ form.weakness.errors }}</div>
                                        {% endif %}
                                </div>
                            </div>
                            <div class="prev text-center mt-1"><span class="fa fa-arrow-left"> </span> back</span> </div>
                            <div class="next-button text-center mt-1">Next <span class="fa fa-arrow-right"></span> </div>

                        </div>
                      </div>
                      <div class="card2 ml-2">
                          <div class="row px-3 inputBox">
                              <h5 style="margin: 1rem 0 0.8rem;">Why do you want to join ISTE?</h5>
                              {{form.why_join_iste}}
                              <label for="" style="color: transparent;">Why do you want to join ISTE?</label>
                              {% if form.why_join_iste.errors %}
                                  <div class="help-block" style="margin-top:-27px; color: #ffe300;">{{ form.why_join_iste.errors }}</div>
                              {% endif %}
                              <h5 style="margin: 1rem 0 0.8rem;">Why should ISTE choose you?</h5>
                              {{form.expect_from_iste}}
                              {% if form.expect_from_iste.errors %}
                                  <div class="help-block" style="margin-top:-27px; color: #ffe300;">{{ form.expect_from_iste.errors }}</div>
                              {% endif %}
                              <div class="prev text-center mt-3"><span class="fa fa-arrow-left"> </span> back</span> </div>
                              <div class="next-button text-center mt-3"> Next <span class="fa fa-arrow-right"></span> </div>
                          </div>
                      </div>
                      <div class="card2 ml-2">
                          <div class="row px-3 mb-4 text-center">
                              <div class="form-group">
                                  {{form.resume|attr:"class:input-file"|attr:"id:file"}}

                                  <label for="file" class="btn btn-tertiary js-labelFile">
                                      <i class="icon fa fa-upload"></i>
                                      <span class="js-fileName">{{i.cv_upload_input|safe}}</span>
                                  </label>
                                  <p style="color:#d33434d9;font-family: Cabin ,Helvetica Neue,Helvetica,Arial,sans-serif;">*Required</p>
                                  <p style="font-family: Cabin ,Helvetica Neue,Helvetica,Arial,sans-serif;
                                  ">**Also bring your CV in the interviews.</p>
                                  {% if form.resume.errors %}
                                      <div class="help-block" style="margin-top:0px; color: #ffe300;">{{ form.resume.errors }}</div>{% endif %}
                              </div>
                              <div class="tacbox">
                                  {{form.terms_confirmed|attr:'required'}}
                                  <label for="checkbox"> I agree to these <a href="#" data-toggle="modal" data-target="#largeModal" style="color: #00FFCA;" >Terms and Conditions</a>.</label>
                                  {% if form.terms_confirmed.errors %}
                                      <div class="help-block" style="margin-top:-9px; color: #ffe300;">{{ form.terms_confirmed.errors }}</div>
                                  {% endif %}
                              </div>
                              <div class="prev text-center"><span class="fa fa-arrow-left"> </span> back</span> </div>
                              <input type="submit" name="" class="" value="Submit">
                           </div>
                        </div>
              </div>
          </div>
      </div>
  </div>
</div>
</form>
{% endfor %}
{% endblock %}